<% @title = "Home" %>

<h1>Hi,</h1>
<p>I'm Max(rchung). Welcome to my epic web page for personal stuff. This is where I'll be hosting my <a href="/projects">projects</a>, <a href="/about">resume</a>, and (hopefully some more) <a href="blog">blogs</a>. Thanks for stopping by! (✿ ͡° ͜ʖ ͡°)</p>

<img id="da-boi-in-da-mrrr" src="/file/daBOiindaMrrr.jpg">
<style>
    #da-boi-in-da-mrrr {
        animation: rotate 6.9s linear infinite;
    }
    @keyframes rotate {
        from {
            transform: rotateZ(-45deg) rotateY(0deg) rotateZ(45deg);
        }
        to {
            transform: rotateZ(-45deg) rotateY(360deg) rotateZ(45deg);
        }
    }
</style>