<% @title = "Home" %>

<h1>Hi,</h1>
<p>I'm Max(rchung). Welcome to my new and improving personal web page. This is where I'll be hosting my projects, resume, and (hopefully some more) blogs. Thanks for stopping by! (✿ ͡° ͜ʖ ͡°)</p>

<img src="/file/daBOiindaMrrr.jpg">
