<% @title = "Home" %>

<h1>Hi, hi, welcome!</h1>
<p>Hey everyone, I'm Max(rchung). Welcome to my new and improved (and improving) personal web page. I'm currently rebuilding this site from scratch with Ruby on Rails. I'll be hosting my resume, portfolio, and projects here, as well as (hopefully) banging up a blog in the future. Thanks for stopping by! (✿ ͡° ͜ʖ ͡°)</p>

<img src="/file/daBOiindaMrrr.jpg">
