<%= render @posts %>

<% if logged_in? %>
    <%= button_to 'New post', new_post_path, :method => :get %>
<% end %>

<h1>Lorem ipsum</h1>
<p class="timestamp">Last edited: 14 January 2016, 3:37AM


<!--
<p>Massa torquent scelerisque commodo tempus lectus, porta scelerisque, aliquet sollicitudin mollis felis, lacus tempus sapien magna auctor. Nonummy arcu eros tellus vulputate diam, eros rhoncus parturient sed eros phasellus amet. Lectus mi tincidunt mauris orci, phasellus id, convallis ut neque. Aliquet eu. Amet bibendum tellus. Senectus sed non nulla neque dapibus, mauris lobortis vel, dolor anim, dui vestibulum libero ac libero massa sit, lacus delectus cras euismod. Adipiscing aliquet erat et lorem neque et. Tellus neque sit est facilisis. Vehicula ut elementum, sit magna felis natoque sagittis dignissimos etiam. Et id neque elit dis mauris tempus, in blandit a cumque suspendisse tortor, metus gravida dui, eu ipsum facilisis fusce. Tellus laboris ac tortor placerat, sed suspendisse neque semper etiam, bibendum augue egestas fermentum, neque et non.</p>

<p>Eu qui, hac tincidunt dictumst leo iaculis, dolor amet, praesent orci egestas ad iaculis inceptos duis, sed ac qui parturient suscipit. Pede officiis eu lorem enim volutpat pellentesque, dictumst fermentum, vestibulum risus, est pharetra pede ut consequat maecenas congue, quis nesciunt non habitasse pellentesque nec. Purus mauris molestie sit enim, nec feugiat tempus faucibus labore accumsan bibendum, dapibus ornare quasi sed tellus, euismod posuere eu parturient morbi suscipit. Rhoncus eu, suspendisse scelerisque et quis id, metus class vel hendrerit ultricies, quis id suscipit non. Nibh quam in enim, id non libero, suspendisse non nec parturient. Tortor id ullamcorper luctus dui, at nullam sed, tristique libero est viverra purus elit, in amet purus massa, tellus vestibulum tellus fringilla facilisis.</p>

<p>Elementum pellentesque. Purus quis at sed in eros, ut tortor, quis vitae. Lorem accumsan ante blandit hendrerit elementum netus, vel rhoncus maecenas, massa sed sit, eu scelerisque feugiat lobortis blandit, eget non. Fusce nesciunt eu vitae libero conubia fusce, consectetuer enim dolor suspendisse morbi. Ut amet non fringilla pulvinar pellentesque molestie, urna orci felis sed, phasellus est nisl velit urna magna quis, id lectus integer sollicitudin blandit mauris, consequat sit ut nulla curabitur at. Vel hac at mauris quisque, porta mauris vitae varius leo tristique sed.</p>
-->
